<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bug Tracker Application</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body class="container-fluid">
    <h1 class="text-secondary ">Bug Tracker Application</h1>
    <!--add bugs-->
    <hr class="border border-5 border-dark">
    <%- include('./partials/addbug')%>
    <!--all bugs-->
    <%- include('./partials/allbugs')%>
</body>

</html>